body {
    background-color: black;
    /* background: url("assets/Fire-Road.png") black;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;  */ 
} 

.container{
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 25px;
    margin: 20px;
    width: fit-content;
    height: calc(100vh - 100px);
}

.title-name{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.sub-text{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.profile-img{
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.about-me{
    padding-right: 8px;
}

.portfolio{
    padding-right: 8px;
}
